@media (max-width: 80em){
    html{
        font-size: 60%;
    }
}

@media (max-width: 70em){
    html{
        font-size: 57%;
    }
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: black;
}

.nav {
    display: flex;
    justify-content: end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
}

nav-list {
    display: flex;
    margin-right: 2rem ;
}